<!DOCTYPE html>
<html>
    <head>
        <title>
            {% if title %}
                {{title}}
            {% else %}
                MyBlog
            {% endif %}
        </title>
        <link href="{{url_for('static',filename='styles/main.css')}}" rel="stylesheet" >
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                 {% endfor %}
                {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock %}
    </body>
</html>